openapi: 3.1.0
info:
  title: API de Petições Jurídicas Persuasivas
  description: >
    Gera petições jurídicas completas com técnicas avançadas de persuasão,
    baseadas em storytelling jurídico, neurociência, retórica e psicologia comportamental.
    Inclui embasamento teórico de autores como Kahneman, Damásio, Pinker, Cialdini, Lyra Filho, entre outros.
  version: 1.0.0
servers:
  - url: https://api.peticaointeligente.com/v1
    description: Servidor principal

paths:
  /gerar-peticao:
    post:
      operationId: gerarPeticao
      summary: Gera uma petição jurídica completa
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                vara:
                  type: string
                cidade:
                  type: string
                uf:
                  type: string
                resumoCaso:
                  type: string
                fatos:
                  type: string
                fundamentosJuridicos:
                  type: string
                pedidos:
                  type: string
                requerimentosFinais:
                  type: string
                incluirTutelaUrgencia:
                  type: boolean
                incluirValorCausa:
                  type: boolean
                incluirProvas:
                  type: boolean
              required:
                - vara
                - cidade
                - uf
                - resumoCaso
                - fatos
                - fundamentosJuridicos
                - pedidos
                - requerimentosFinais
      responses:
        '200':
          description: Petição gerada
          content:
            application/json:
              schema:
                type: object
                properties:
                  peticao:
                    type: string

  /estruturas:
    get:
      operationId: listarEstruturas
      summary: Lista a estrutura de uma petição jurídica
      responses:
        '200':
          description: Estrutura da petição
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string

  /tecnicas-persuasao:
    get:
      operationId: listarTecnicasPersuasao
      summary: Técnicas de persuasão aplicadas ao Direito
      responses:
        '200':
          description: Lista de técnicas de escrita persuasiva
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    nome:
                      type: string
                    descricao:
                      type: string
                    funcionamento:
                      type: string
                    exemplo:
                      type: string

  /referencias-tecnicas:
    get:
      operationId: listarReferencias
      summary: Referências teóricas das técnicas
      responses:
        '200':
          description: Lista de autores e obras por técnica
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    tecnica:
                      type: string
                    autores:
                      type: array
                      items:
                        type: string
                    obras:
                      type: array
                      items:
                        type: string
